*.o
*.depends
bin/*
.project
.cproject
.settings
.nfs*
*.gcda
*.gcno
*.swp
pipelines/logMultiscale*.e*
pipelines/logMultiscale*.o*
intermediate/*
output/*
input/*.txt*
input/nonpublicData
*SourceEvents.txt
*Randomized.txt

